---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    {% for post in site.posts %}
    <div class="box" style="background-color:#fff"> <!--#{{post.color}}-->
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container"><a href="{{post.url | prepend: site.baseurl}}">
            <!--<a style="color:#{{post.color}}">--> <h4><!--<font style="background-color:#{{post.color}}">--> {{post.title}} </font></h4></a>
            <hr width="33.33%" size="1" align="center" color="#{{post.color}}"> <!--line between title and description-->
            <p>{{post.description}}</p>
             <div class="action"> <font color="#{{post.color}}">{{ post.category }} | {{ post.number}}<a href="{{post.url | prepend: site.baseurl}}/"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></font></div>
        </div>
    </div>
   {% endfor %}

</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
