
*{
    -webkit-transition: all 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: all 0.2s;
    transition-timing-function: linear;
      }

body {
         background: #fff; /* ffc8bd This is the background color of the whole site */
         font-family: $base-font-family;
         font-size: 14px; /*size of card text ( tagline _style.scss l260)*/
         font-weight: 400; /*weight of post text*/
         letter-spacing: 0.0385em; /*cards*/
         overflow-x: hidden;
         color: $text-color; /* Change this in Main.scss*/
         line-height: 180%; /*line space all text, body and cards. Should be between 130% and 160%. not more than 200%*/
         @include media-query($on-palm) {
          padding: 10px;
    }

}


::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #b7c3c5;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}


a {
    color: $highlight-color;
    text-decoration: none;

    &:hover {
        color: $highlight-color;
        opacity: 0.75;
    }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $head-font-family;
    font-weight: 600;
    margin: 0;
    line-height: 1.8;
}


/**
 * Headings
 */
h1{
    font-size: 2.0em;
    color: #303030;
    font-family: 'Helvetica neue';
    @include media-query($on-laptop) {
        font-size: 2em;
    }
}
h2{
    font-size: 1.6em;
    @include media-query($on-laptop) {
        font-size: 1.2em;
    }
}

h3{
  font-size: 2.0em;
  color: #303030;
  font-family: 'Helvetica neue';
  text-transform: capitalize;
  font-style: normal;
  text-align: center;
  background-color: ($article-color);
  margin-top: 40px;
  line-height: 0%;
  height: 20px;
  width: auto;
  padding: 0 10px 0px;
  vertical-align: baseline;
  margin-bottom: 20px;
    @include media-query($on-laptop) {
        font-size: 0.9em;
    }
}

h4 {
        font-size: 12px; /* defines the titles of the cards*/
        font-weight: 600;
        letter-spacing: 0.235em;
        text-transform: uppercase;
        /*background-color: {{ color }};*/
        color: #303030;
        text-align: center;
        font-family: 'Helvetica neue';
    @include media-query($on-laptop) {
        font-size: 0.8em;
    }
}

h5{
  font-size: 2.0em;
  color: #303030;
  font-family: 'Helvetica neue';
  text-transform: capitalize;
  font-style: normal;
  text-align: center;
  background-color: ($card-color);
  margin-top: 40px;
  line-height: 0%;
  height: 20px;
  width: auto;
  padding: 0 10px 0px;
  vertical-align: baseline;
  margin-bottom: 20px;
    @include media-query($on-laptop) {
        font-size: 0.9em;
    }
}

h6{
  font-size: 2.0em;
  color: #303030;
  font-family: 'Helvetica neue';
  text-transform: capitalize;
  font-style: normal;
  text-align: center;
  padding: -10px 0px 10px 0px;
  vertical-align: baseline;
  margin-bottom: 20px;
    @include media-query($on-laptop) {
        font-size: 0.9em;
    }
}





/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
     @include media-query($on-palm) {
                font-size: 12px;
                }
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
            @include media-query($on-palm) {
                font-size: 12px;
                }
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $brand-color;
    border-left: 4px solid $brand-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    font-family: monospace;
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
    border: 1px solid $brand-color;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    border: 1px solid $brand-color;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
