#container {
    width: 95%;
    margin: 4em auto;
    height: auto;
}
/* .cols {
    -moz-column-count: 4;
    -moz-column-gap: 2%;
    -moz-column-width: 25%;
    -webkit-column-count: 4;
    -webkit-column-gap: 2%;
    -webkit-column-width: 25%;
    column-count: 4;
    column-gap: 2%;
    column-width: 25%;

    @include media-query($on-laptop){
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
    }
    @include media-query($on-palm) {
    -moz-column-count: 1;
    -moz-column-gap: 0%;
    -moz-column-width: 100%;
    -webkit-column-count: 1;
    -webkit-column-gap: 0%;
    -webkit-column-width: 100%;
    column-count: 1;
    column-gap: 0%;
    column-width: 100%;
    }

}
.box {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa; Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
    -moz-box-shadow: 2px 2px 4px #aaa;  Firefox 3.5 - 3.6
    color: rgba(255, 255, 255, 0.72);
    &:hover{
          box-shadow: 3px 3px 6px #aaa;
          -webkit-box-shadow: 3px 3px 6px #aaa; Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
          -webkit-box-shadow: 3px 3px 6px #aaa; Firefox 3.5 - 3.6
    }
}
  */


#grid[data-columns]::before {
	content: '4 .column.size-1of4';
    @include media-query($on-laptop){
        content: '3 .column.size-1of3';
    }

       @include media-query($on-palm){
        content: '1 .column.size-1of1';
    }
}





/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }






/* These are the classes that are going to be applied: */
.column {
    float: left;

}
.size-1of4 {
     width: 25%;

}

.box {
    margin: 10px 10px 10px 10px; /* First (top) and Last (left marging =10px) is space between cards*/
    display: inline-block;
/*     width: 100%; */
    border-radius: 0px; /* rounded corners cards */
    box-shadow: 0px 0px 3px 0px #aaa; /* shadow card last pixes is the size, second last is the amount of blur */
    -webkit-box-shadow: 0px 0px 3px 0px #aaa;
    -moz-box-shadow: 0px 0px 3px 0px #aaa;
    color: #303030; /* color text on card */
    &:hover {
          box-shadow: 8px 8px 8px 2px #c0c0c0; /* This color and the other two are the highlights around the boxes when hovering over (on homepage) */
          -webkit-box-shadow: 8px 8px 8px 2px #c0c0c0;
          -webkit-box-shadow: 8px 8px 8px 2px #c0c0c0;
    }
}



.feat-image {
   border-radius: 4px 4px 0 0;
   width: 100%;

}


.container {
         padding: 15px; /* influences length of card */
         border: 1px solid #aaa; /* card border */
     }

.container a {
    color: #eee; /* Doesn't do anything */
    text-decoration: none;

}
     .grid-item img {
         width: 100%;
         border-radius: 5px 5px 0 0;
         border:none;
     }
     .action{
         margin-top: 15px;
         padding-top: 15px;
         border-top: 1px solid #aaa; /* color dividing line card */
         font-family: 'Helvetica neue'; /*font date on card*/
         font-size: 12px;
         text-align: left;
         font-weight: 300;
         font-style: none;

     }
     .action .fa{
        margin-top: 6px;
         float: right;
         opacity: 1;
         color: #aeaeae; /* color arrow of card main page */
         &:hover{
             opacity: 0.8;
             color: $highlight-color;
         }

     }

.social {
    position: absolute;
    right: 5%;
    top: 2%;
    display: none;

}
.social .fa, a .fa {
    margin-left: 5px;
    cursor: pointer;
    color: #eee;
    opacity: 0.9;
        &:hover {
        opacity: 1;
    }
}

.page-container {
    margin: 0 auto;
    color: red;
    margin-top: 60px; /* is now aligned with cards margin*/
    background-color: #fff; /*color border post/article/text area*/
    border-radius: 0px; /* rounded corners of post */
    box-shadow: 0px 5px 10px 3px #aaa; /* set content shadow of post*/
    max-width: 800px; /* set content width of post og=900*/

}
.page-container img {
    max-width: 100%;
}

article {
    border-bottom: 1px solid #ddd ; /*color dividing line underneath post*/
    background-color: #fff; /*color background text area/post*/
    color: $text-color; /*only article text color*/
    font-size: 14px; /*size of article text*/
    letter-spacing: 0.0385em; /*post body*/
    padding: 0.3em 3.5em; /*padding text on article*/
    margin-bottom: 1em;
}

.firstcharacter {
  color: $text-color;
  float: left;
  font-family: $base-font-family;
  font-size: 50px;
  line-height: 100%;
  padding-top: 00px;
  padding-right: 10px;
  padding-left: 10px;
}

.social-full h4, .social-full fa  {
    display: inline-block;
}

.social-full {
    padding: 10px 0;
    font-size: 1.2em;
}
.social-full .fa{
        color: $brand-color;
    &:hover {
        color: $highlight-color;
    }
}

.content {
        padding: 2em;
}

footer {
    clear: both; /*change the looks of the footer text here!*/
    display: block;
    text-align: center;
    font-family: $head-font-family;
    font-size: 13px;
    font-weight: 400;
    color: $text-color;
    padding:60px;
}



header {
    min-height: 60px;
    text-align: center;
    margin: 2em 0;
    background-color: #fff; /*header background color*/

}

.header-title {
    color: #303030; /*site title color*/
    &:hover {
        color: #444;
        opacity: 1;
    }
    font-size: 6em;
    font-style: bold;
    line-height: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: inline-block;
    letter-spacing: 1px;
    font-family: 'didot'; /*site title font*/
    font-weight: 100; /*original = 500*/
    text-shadow: 0 0 1px;
}


.header-tagline {
    font-weight: 280;
    letter-spacing: 0.15em;
    font-size: 16px;
    line-height: 1;
    margin-top: 0.9em;
    margin-bottom: 0.7em;
    color: #303030; /*tagline header color*/
    &:hover {
        color: #4A4582;
        opacity: 1;
    }
    text-shadow: 0 0 1px;

}

// Disqus comments button

.show-comments {
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    color: $text-color;
    font-size: 0.9em;
    padding: 4px;
    margin-top: 1em;
    &:hover{
       border: none;
       color: $highlight-color;
    }
}

.comment {
    text-align: center;
}


// Table
table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
  table tr {
    border-top: 1px solid $grey-color;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin: 0; }
    table tr th :last-child, table tr td :last-child {
      margin: 0; }


// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

// Add class="video" to any video you insert to make it responsive

.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }


}

// Featured image in posts
.featured-img {
    width: 100%;
}

// Active page number in pagination
.active {
    font-weight: 700;
}



/* Menu General Styles */
.menuBackground {
	background: Transparent;/* bgcolor whole menu*/
	text-align: center; /* or change the value to left to align left*/
}
.dropDownMenu a {
	color: $text-color; /* text color whole menu*/
  font-family: $base-font-family;
  font-size: 9px;
  letter-spacing: 0.235em;
  text-transform: uppercase;
  font-weight: 400;

}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0px 0px 0px 0px; /* margin fron top, right now exactly lined with Marie*/
	padding: 0px 0px 0px 0px;
}
.dropDownMenu li {
	position: relative;

}
.dropDownMenu a {
	padding: 1px 13px;/* Padding text whole menu so parents and children. 1 is afstand tussen boven en beneden 2 px is afstand van elkaar af*/
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: transparent; /* bgcolor hover whole menu*/
	color: #aaa; /* textcolor hover whole menu*/
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}



/* Level 2 */
.dropDownMenu > li > ul {
	text-align: left;
	width: 150%; /* change auto value with 200px if you want a bigger menu  Veranderd ook of technical drawings wel voluit geschrevn kan zijn*/
	display: none;
	background: #fff; /* bgcolor dropdown lvl2 CHANGE this if it hovers over other text. Should be same as background color of the whole website.*/
	position: absolute;
	padding: 0px 0px 0px; /* padding second level from top and left indent*/
	top: 100%;
	left: 0;
	z-index: 100; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu ul li a {}
.dropDownMenu ul li a:hover {}



/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background: #fff;/* bgcolor dropdown lvl2 CHANGE this if it hovers over other text. Should be same as background color of the whole website.*/
	position: absolute;
	padding: 0px 0px 0px 0px;
	left: 70%; /* padding second level from left/parent menu*/
	top: 0px; /* padding second level from top*/
	z-index: 100;
}
.dropDownMenu > li > ul > li:hover > ul {
	display: block;
}
.dropDownMenu ul ul li {}
.dropDownMenu ul ul li a {}
.dropDownMenu ul ul li a:hover {}

              /***********CSS Drop down menu ending***********/


.thumb {
    position: relative; /*used to be relative*/
    height: 100%;
    display: inline;
    overflow: auto;
    border-bottom: 1px dotted $highlight-color;
}
.thumb img {
    width: 100%;
    padding: 0;
}
.thumb > div {
    background-color: #fff;
    opacity: 0;
    position: absolute; /* used to be absolute: the box covered the link text*/
    overflow: hidden; /* hidden: removes the extra step with all the text vertical*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: #000 0px 0px 0;
    color: $highlight-color;
}
.thumb:hover > div {
    display: inline;
    transition: all 0.3s linear;
    opacity: 1.0;
    position: relative; /*relative, absolute, relative pushes the content*/
}
.thumb > div div {
    padding: 20px 40px;
}
.thumb h2 {
    font-size: 1.2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.thumb p {
    margin-bottom: 0px;
}
