---
layout: page
---

<div class="page-container">
   {% if page.img %}
    <img class="featured-img" src={{ "/images-hq/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    {% endif %}
    <div class="content">
    <article>
        <h6 class="page-title">{{page.title}}</h6>
        <font color="#{{page.color}}"> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp; |&nbsp;&nbsp; {{page.category}}&nbsp;&nbsp; |&nbsp;&nbsp; {{page.tag}}</font><br>
<br>
        {{page.content | markdownify}}
    </article>
            {% if page.categories %}
                {% include disqus.html %}
            {% else %}
            {% endif %}
    </div>
</div>
