---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>
<!--<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {% include menu-links.html %}
</div>-->

<!-- Use any element to open the sidenav -->
<!--<span id="slid" onclick="openNav()"><i class="fa fa-align-left" aria-hidden="true"></i></span>-->
<a href="{{site.baseurl}}/"><h1 class="header-title">{{site.title}} </h1> <!--<h1><img src="/images/Eudemonis-no-shadow-2.png" alt="Logo" height="255px"/></h1>--> </a>
<hr width="30%" size="1" align="center" color="#ffc8bd"> <!--line between title and tagline-->
<!--<hr width="100%" size="4" align="center" color="#fff">-->
{% include dropdownmenu.html %}
  <!--<a href="{{site.baseurl}}/" style="color: #DA4E3E; font-size:9px; text-transform:uppercase; font-weight: 400;letter-spacing:0.235em;">Information</a>
-->


</header>
<div id="main">




{{content}}


{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% include analytics.html %}
</body>
</html>
